.nav {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
}

.nav .link {
    padding: 6px;
}

.link:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.link .active {
    font-size: 16px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}