.profile_info {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

p {
    padding: 0;
    margin: 0;
}

.info {
    margin-left: 20px;
}

.profile_info .avatar {
    width: 80px;
    border-radius: 100%;
    align-self:flex-start;
}