.body {
    margin-left: 10px;
    margin-bottom: 10px;
}

.link {
    color: black;
    text-decoration: none;
    display: flex;
}

.active {
    font-weight: bold;
}

.body img {
    width: 50px;
    border-radius: 50%;
}

.name {
    margin-left: 15px;
}