.my_post .avatar {
    width: 50px;
    border-radius: 100%;
    display: inline;
}

.my_post {
    line-height: 50px;
    margin-top: 20px;
}
.my_post span {
    vertical-align: top;
    margin-left: 10px;

}

.like {
    padding: -20px;
    margin-top: -50px;
    margin-left: 60px;
}