.app-wrapper {
    /*font-family: 'Nunito', sans-serif;*/
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    max-width: 1200px;
    /*display: grid;*/
    /*grid-template-areas: "header header" "nav content";*/
    /*grid-template-rows: 100px 1fr;*/
    /*grid-template-columns: 2fr 10fr;*/
    margin: 10px auto;
    background-color: #fdbf7f;

}

.app-wrapper-content {
    /*padding: 20px;*/
    /*grid-area: content;*/
    /*background-color: #fdbf7f;*/
}

