.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.dialogs {
    width: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.messages {
    width: 600px;
    padding: 20px;
}
